/* TODO REMOVE LATER - setting a max width so i can easily see and potentially plan to change how they size their application */
/* .demo-container {
    max-width: 700px;
} */

/* TOP */
/********************* Color reference ****************

dark blue                    db          #00589b
dark blue darkened 1         dbd1        #002846
dark blue darkened 2         dbd2        #001A2E
light blue                   lb          #57a0d7
orange                       o           #f9bf2c
yellow                       y           #feed58
/**/

@keyframes pulse {
    0% {
      transform: scale(1); /* scaling to 0 */
    }
    50% {
      transform: scale(1); /* increasing the size */
    }
    70% {
      transform: scale(1.8); /* decreasing the size */
    }
    100% {
      transform: scale(1); /* seeting back to initial size */
    }
}

body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.7px;
    line-height: 1.8em;
    font-size: 1.5vw;
}

.focus-point {
    position: absolute;
}

#circle-id {
    position: relative;
    width: 5vw;
    height: 5vw;
    border: solid .5vw #d87070;
    border-radius: 50%;
    cursor: pointer;
    animation: pulse 1.5s infinite ease-out;
    z-index: 10;
}

#circle-label-id {
    position: absolute;
    left: 4vw;
    width: 15vw;
    text-align: center;
    padding: 1vw;
    border: solid 1px #001A2E;
    border-radius: 5px;
    color: #fff;
    background-color:#002846;
}

#circle-label-text-id {
    max-height: 100%;
    resize: both;
}

.screenshot {
    width: 100vw;
    max-width: 100%;
}